
#map {
        width: 70%;
        /*position: absolute;*/
        margin-top: 40px;
        margin-left: 15%;
        height: 500px;
        background-color: black;
      }

#findCity {
	color:#fff;
	font-family: 'Gochi Hand', cursive;
	font-size:24px;
	background: #e8c72f;
	border-radius: 0px;
	border:0;
	display:inline-block;
	margin-top: 40px;
	padding:5px 10px;
	cursor:pointer;
}

#questionForm { text-align: center; }
